<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Detail</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../stora/img/camisa (2) recortado.png" alt="Producto" class="product-image">
            <div class="back-btn"><i class="fas fa-arrow-left"></i></div>
            <div class="favorite-btn"><i class="fas fa-heart"></i></div>
        </div>
        <div class="content">
            <div class="title">Shirt New Collection</div>

            <div class="rating">
                <i class="fas fa-star"></i>
                <p>5.0</p>
                <a href="#" class="reviews">(7,932 reviews)</a>
            </div>

            <div class="description">
                <p>Its simple and elegant shape makes it perfect for those of you who like minimalist clothes <a href="#">Read More...</a></p>
            </div>
            <div class="cart-section">            
                <button>-</button><p>1</p><button>+</button>
            </div>

            <div class="options">
                <div class="sizes">
                    <p>Choose Size</p>
                    <div class="buttons">
                        <div class="size-btn">S</div>
                        <div class="size-btn">M</div>
                        <div class="size-btn">L</div>
                        <div class="size-btn">XL</div>
                    </div>
                </div>

                <div class="colors">
                    <p>Color</p>
                    <div class="group">
                        <div class="color-btn" style="background: #787676;"></div>
                        <div class="color-btn" style="background: #433F40;"></div>
                        <div class="color-btn" style="background: #121111;"></div>
                    </div>
                </div>
            </div>
            <button class="cart-button">
                <i class="fas fa-shopping-cart"></i>
                Add to Cart | <span>$80.000</span> <span class="old-price">$120.000</span>
            </button>
        </div>
    </div>

</body>
</html>
