<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JADEN</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="block">
        <h1>ENVÍOS GRATIS A TODO COLOMBIA POR COMPRAS SUPERIORES A $380.000 COP</h1>
        </div>
        <div class="top">

            <div class="button1">
                <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <h1>JADEN</h1>
            <div class="button2">
            <button><i class="fa-regular fa-user"></i></button>
            <button><i class="fa-solid fa-bag-shopping"></i></button>
            </div>
        </div>
    </header>
    <main>
        <video class="video-home" preload="auto" playsinline="" data-autoplay="" muted="" loop="" data-expand="-10" autoplay="" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <source src="https://cdn.shopify.com/videos/c/o/v/e2fb7d76255d4d6d9400c4123de217f5.mp4" type="video/mp4">
         </video>
        
        <div class="shop">
            <a href="../views/pag1.html"><h1>SHOP NOW</h1></a>
        </div>
    </main>
</body>
</html>