<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pag1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
    <header>
        <div class="top">
        <p>Hello,Welcome👋</p>
        <h1 class="name">Juan Meneses</h1>
        <img src="../stora/img/Profile.png" alt="">
        </div>
        <div class="search-box">
            <i class="search-emoji"><i class="fa-solid fa-magnifying-glass"></i></i>
            <input type="search" class="search" placeholder="Search Clothes...">
            <i class="emoji"><i class="fa-solid fa-sliders"></i></i>
        </div>
        <div class="selection">    
            <button class="filter-button-active"><i class="fa-solid fa-border-all"></i>All Items</button>
            <button class="filter-button"><i class="fa-solid fa-person-half-dress"></i>Hoodies</button>
            <button class="filter-button"><i class="fa-solid fa-shirt"></i>Shirts</button>
            <button class="filter-button">Pants</button>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="models1">
                <div class="product-image">
                    <i class="fa-regular fa-heart"></i>
                    <a href="../views/detail.html"><img class="default-img" src="../stora/img/camisa recortada.png" alt="">
                    <img class="hover-img" src="../stora/img/Product 1.png" alt="">
                    </a>
                </div>
                <div class="product">
                    <h1>Shirt New Collection</h1>
                    <p>Shirt</p>
                </div>
                <div class="price">
                    <h1>$90.000</h1>
                    <p>⭐5.0</p>
                </div>
                <div class="product-image2">
                    <i class="fa-regular fa-heart"></i>
                    <img class="default-img2" src="../stora/img/hoodie vida real recortado.png" alt="">
                    <img class="hover-img2" src="../stora/img/Product 3.png" alt="">
                </div>
                <div class="product2">
                    <h1>Hoddie New Collection</h1>
                    <p>Hoodie</p>
                </div>
                <div class="price2">
                    <h1>$150.000</h1>
                    <p>⭐5.0</p>
                </div>
            </div>
            <div class="models2">
                <div class="product-image3">
                    <i class="fa-solid fa-heart"></i>
                    <img class="default-img3" src="../stora/img/camisa botones.jpg" alt="">
                    <img class="hover-img3" src="../stora/img/camisa botones modelo.jpg" alt="" >
                </div>
                <div class="product3">
                    <h1>Palace Brave Soul Long </h1>
                    <p>Boxy Shirt</p>
                </div>
                <div class="price3">
                    <h1>$420.000</h1>
                    <p>⭐5.0</p>
                </div>
                <div class="product-image4">
                    <i class="fa-regular fa-heart"></i>
                    <img class="default-img4" src="../stora/img/pantalon mujer.jpg" alt="">
                    <img class="hover-img4" src="../stora/img/pantalon mujer modelo.jpg" alt="">
                </div>
                <div class="product4">
                    <h1>W Basics Wide Jean Dusty Brown</h1>
                    <p>Woman Jean</p>
                </div>
                <div class="price4">
                    <p>$420.000</p>
                    <p>⭐5.0</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="menu">
            <div class="menu-item active">
                <a href="../views/home.html"><i class="fa-solid fa-house"></i></a>
            </div>
            <div class="menu-item">
            <i class="fa-solid fa-bag-shopping"></i>
            <div class="notification"></div>
            </div>
            <div class="menu-item">
            <i class="fa-regular fa-heart"></i>
            </div>
            <div class="menu-item">
            <i class="fa-regular fa-user"></i>
            </div>
        </div>
    </footer>
</body>
</html>