<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pag1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
    <header>
        <div class="top">
        <p>Hello,Welcome👋</p>
        <h1 class="name">Juan Meneses</h1>
        <img src="../stora/img/Profile.png" alt="">
        </div>
        <div class="search-box">
            <i class="search-emoji"><i class="fa-solid fa-magnifying-glass"></i></i>
            <input type="search" class="search" placeholder="Search Clothes...">
            <i class="emoji"><i class="fa-solid fa-sliders"></i></i>
        </div>
        <div class="selection">    
            <button class="filter-button active">All Items</button>
            <button class="filter-button">Hoodies</button>
            <button class="filter-button">Shirts</button>
            <button class="filter-button">Pants</button>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="models1">
                <img src="../stora/img/Camisa parte de atras.png" alt="">
                <h1>Shirt New Collection</h1>
                <p>Shirt</p>
                <p>$90.000</p>
                <p>⭐5.0</p>
                <img src="" alt="">
                <h1>Hoddie New Collection</h1>
                <p>Hoodie</p>
                <p>$150.000</p>
                <p>⭐5.0</p>
            </div>
            <div class="models2">
                <img src="" alt="">
                <h1>Palace Brave Soul Long Sleeve Boxy Shirt Bone</h1>
                <p>Boxy Shirt</p>
                <p>$420.000</p>
                <p>⭐5.0</p>
                <img src="" alt="">
                <h1>W Basics Wide Jean Dusty Brown</h1>
                <p>Woman Jean</p>
                <p>$420.000</p>
                <p>⭐5.0</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="icons">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-bag-shopping"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-user"></i>
        </div>
    </footer>
</body>
</html>