@import url(../css/variables.css);
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
body {
    background-color: var(--color-4);
}
.top {
    /* background-color: aqua; */
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 46px;
    margin-top: 20px;
}
.top p {
    /* background-color: blue; */
    position: absolute;
    font-size: 12px;
    font-family: "Encode-Regular";
    margin-top: -25px;
    margin-left: 24px;
}
.top img {
    /* background-color: violet; */
    position: relative;
    display: flex;
    margin-left: 315px;
    width: 35px;
}
.name {
    /* background-color: aquamarine; */
    position: absolute;
    font-family: "Encode-Bold";
    font-size: 16px;
    margin-top: 25px;
    margin-left: 24px;
}
.search-box {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 16px;
    height: 48px;
}
.search-box input {
    background-color: transparent;
    width: 263px;
    height: 48px;
    border: 3px solid var(--color-6);
    border-radius: 8px;
    font-family: "Encode-Regular";
    font-size: 14px;
    color: var(--color-7);
    text-align: center;
    margin-left: 24px;
}
.search-emoji {
    /* background-color: brown; */
    position: absolute;
    margin-left: 50px;
    font-size: 30px;
    color: var(--color-7);
}
.emoji {
    background-color: var(--color-1);
    margin-left: 16px;
    font-size: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-8);
    height: 48px;
    width: 48px;
}
.selection {
    /* background-color: aqua; */
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 32px;
    height: 34px;
}
.filter-button-active{
    margin-left: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Encode-Medium";
    font-size: 12px;
    border-radius: 8px;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    background-color: transparent;
    box-shadow: 2px 2px   var(--color-3);
}
.filter-button-active i{
    margin-right: 5px;
    font-size: 15px;
    color: var(--color-1);
}
.filter-button-active:hover{
    background-color: var(--color-1);
    color: var(--color-8);
}
.filter-button-active i:hover{
    color: var(--color-8);
}
.filter-button {
    width: 18%;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Encode-Medium";
    font-size: 12px;
    border-radius: 8px;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    background-color: transparent;
    box-shadow: 2px 2px   var(--color-3);
}
.filter-button i{
    margin-right: 5px;
    font-size: 15px;
    color: var(--color-1);
}
.filter-button:hover{
    background-color: var(--color-1);
    color: var(--color-8);
}
.filter-button i:hover{
    color: var(--color-8);
}
.container {
    position: absolute;
    background-color: blue;
    margin-top: 24px;
    width: 100%;
    display: flex;
    z-index: 1;
}
.models1 {
    background-color: aliceblue;
    width: 155px;
    height: 620px;
    margin-left: 24px;
}
.models1 img{
    width: 155px;
    height: 217px;
    object-fit: cover;
    transition: content 1s ease-in-out;
    transition-delay: 0.5s; 
    
}
.models1 img:hover{
    content: url(../stora/img/Product\ 1.png);
}
