@import url(../css/variables.css);
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
body {
    background-color: var(--color-4);
}
.top {
    /* background-color: aqua; */
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 46px;
    margin-top: 20px;
}
.top p {
    /* background-color: blue; */
    position: absolute;
    font-size: 12px;
    font-family: "Encode-Regular";
    margin-top: -25px;
    margin-left: 24px;
}
.top img {
    /* background-color: violet; */
    position: relative;
    display: flex;
    margin-left: 315px;
    width: 35px;
}
.name {
    /* background-color: aquamarine; */
    position: absolute;
    font-family: "Encode-Bold";
    font-size: 16px;
    margin-top: 25px;
    margin-left: 24px;
}
.search-box {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 16px;
    height: 48px;
}
.search-box input {
    background-color: transparent;
    width: 263px;
    height: 48px;
    border: 3px solid var(--color-6);
    border-radius: 8px;
    font-family: "Encode-Regular";
    font-size: 14px;
    color: var(--color-7);
    text-align: center;
    margin-left: 24px;
}
.search-emoji {
    /* background-color: brown; */
    position: absolute;
    margin-left: 50px;
    font-size: 30px;
    color: var(--color-7);
}
.emoji {
    background-color: var(--color-1);
    margin-left: 16px;
    font-size: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-8);
    height: 48px;
    width: 48px;
}
.selection {
    /* background-color: aqua; */
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 32px;
    height: 34px;
}
.filter-button-active{
    margin-left: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Encode-Medium";
    font-size: 12px;
    border-radius: 8px;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    background-color: transparent;
    box-shadow: 2px 2px   var(--color-3);
}
.filter-button-active i{
    margin-right: 5px;
    font-size: 15px;
    color: var(--color-1);
}
.filter-button-active:hover{
    background-color: var(--color-1);
    color: var(--color-8);
}
.filter-button-active i:hover{
    color: var(--color-8);
}
.filter-button {
    width: 18%;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Encode-Medium";
    font-size: 12px;
    border-radius: 8px;
    color: var(--color-1);
    border: 1px solid var(--color-3);
    background-color: transparent;
    box-shadow: 2px 2px   var(--color-3);
}
.filter-button i{
    margin-right: 5px;
    font-size: 15px;
    color: var(--color-1);
}
.filter-button:hover{
    background-color: var(--color-1);
    color: var(--color-8);
}
.filter-button i:hover{
    color: var(--color-8);
}
.container {
    position: absolute;
    /* background-color: blue; */
    margin-top: 24px;
    width: 100%;
    height: 730px;
    display: flex;
    z-index: 1;
}
.models1 {
    /* background-color: aliceblue; */
    width: 155px;
    height: 620px;
    margin-left: 24px;
    z-index: 2;
}


.product-image {
    position: relative;
    width: 100%;
    height: auto;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.product-image .hover-img {
    display: none;
}

.product-image:hover .default-img {
    display: none;
}

.product-image:hover .hover-img {
    display: block;
}
.product {
    /* background-color: brown; */
    margin-top: 8px;
    position: absolute;
    width: 141px;
    height: 73px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.product h1{
    position: absolute;
    /* background-color: blueviolet; */
    width: 130px;
    height: 21px;
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.product p{
    /* background-color: chartreuse; */
    position: absolute;
    margin-top: 35px;
}
.price {
    /* background-color: burlywood; */
    width: 111px;
    position: relative;
    margin-top: 60px;
    height: 21px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.price h1 {
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.price p {
    font-family: "Encode-Regular";
    font-size: 12px;
    margin-left: 24px;
}

.product-image2 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 22px;
}

.product-image2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.product-image2 .hover-img2 {
    display: none;
}

.product-image2:hover .default-img2 {
    display: none;
}

.product-image2:hover .hover-img2 {
    display: block;
}
.product2 {
    /* background-color: brown; */
    margin-top: 8px;
    position: absolute;
    width: 141px;
    height: 73px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.product2 h1{
    position: absolute;
    /* background-color: blueviolet; */
    width: 141px;
    height: 21px;
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.product2 p{
    /* background-color: chartreuse; */
    position: absolute;
    margin-top: 35px;
}
.price2 {
    /* background-color: burlywood; */
    width: 111px;
    position: relative;
    margin-top: 60px;
    height: 21px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.price2 h1 {
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.price2 p {
    font-family: "Encode-Regular";
    font-size: 12px;
    margin-left: 24px;
}
.models2 {
    /* background-color: rgb(241, 218, 187); */
    width: 155px;
    height: 620px;
    margin-left: 40px;
    margin-top: 10px;
    z-index: 2;
}

.product-image3 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 22px;
}

.product-image3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.product-image3 .hover-img3 {
    display: none;
}

.product-image3:hover .default-img3 {
    display: none;
}

.product-image3:hover .hover-img3 {
    display: block;
}
.product3 {
    /* background-color: brown; */
    margin-top: 8px;
    position: absolute;
    width: 141px;
    height: 73px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.product3 h1{
    position: absolute;
    /* background-color: blueviolet; */
    width: 141px;
    height: 21px;
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.product3 p{
    /* background-color: chartreuse; */
    position: absolute;
    margin-top: 35px;
}
.price3 {
    /* background-color: burlywood; */
    width: 111px;
    position: relative;
    margin-top: 60px;
    height: 21px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.price3 h1 {
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.price3 p {
    font-family: "Encode-Regular";
    font-size: 12px;
    margin-left: 24px;
}
.product-image4 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 22px;
}

.product-image4 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.product-image4 .hover-img4 {
    display: none;
}

.product-image4:hover .default-img4 {
    display: none;
}

.product-image4:hover .hover-img4 {
    display: block;
}
.product4 {
    /* background-color: brown; */
    margin-top: 8px;
    position: absolute;
    width: 141px;
    height: 73px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.product4 h1{
    position: absolute;
    /* background-color: blueviolet; */
    width: 141px;
    height: 21px;
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.product4 p{
    /* background-color: chartreuse; */
    position: absolute;
    margin-top: 35px;
}
.price4 {
    /* background-color: burlywood; */
    width: 111px;
    position: relative;
    margin-top: 60px;
    height: 21px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.price4 h1 {
    font-family: "Encode-Semibold";
    font-size: 14px;
}
.price4 p {
    font-family: "Encode-Regular";
    font-size: 12px;
    margin-left: 24px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    background-color: #211d1d;
    padding: 5px;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-left: 40px;
    z-index: 2;
}

.menu-item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease-in-out;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-item i {
    font-size: 22px;
    color: white;
}

.active {
    background-color: white;
}

.active i {
    color: black;
}