:root {
    --color-1 : #292526;
    --color-2 : #787676;
    --color-3 : #A3A1A2;
    --color-4 : #F2F2F2;
    --color-5 : #121111;
    --color-6 : #DFDEDE;
    --color-7 : #CAC9C9;
    --color-8 : #FDFDFD;
    --color-9 : #FFFFFF;
}

@font-face {
    font-family: "Encode-Bold";
    src: url(../stora/font/Encode_Sans/static/EncodeSans-Bold.ttf);
}

@font-face {
    font-family: "Encode-Regular";
    src: url(../stora/font/Encode_Sans/static/EncodeSans-Regular.ttf);
}

@font-face {
    font-family: "Encode-Medium";
    src: url(../stora/font/Encode_Sans/static/EncodeSans-Medium.ttf);
}
@font-face {
    font-family: "Encode-Semibold";
    src: url(../stora/font/Encode_Sans/static/EncodeSans-SemiBold.ttf);
}